.title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #FFCC70;
    color: black;
}
.links{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color:#FFCC70;
}
div{
    text-align: center;
    font-size: 20px;
    background-color: #22668D;
    font-weight: bold;
    color: white;
}





p,ul,ol{
    text-align: center;
    font-size: 16px;
    background-color: #8ECDDD;
}

img{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #22668D;
}